body{
    background-color: black;
}

.site-top{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo img{
    width: 50px;
    height: 50px;
}
nav ul {
    display: flex;
    margin: 0 auto;
}

nav ul li a {
text-transform: uppercase;
font-weight: bold;
font-size: 16px;
color: #FFF;
text-decoration: none;
display: inline-block;
padding: 20px;

width: 100%;
}

nav ul li a:hover {
color: blue;
}

/*************************/
.section1{
    display: flex;
    flex-wrap: wrap;
}

.parent{
    flex:1 0 24.8vw;/* grossir retrecir largeur*/
    height: 24.8vw;
    position: relative;
    overflow: hidden;
}

.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calque2{
    position: absolute;
    left: 0;
    top:0;
    transition: .5s;
}

.bg{
    background: black; 
    opacity: 0; 
    height: 25vw;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

h2{
    color:white;
    text-transform:uppercase;
    position: absolute;
    left: 0;
    top: 50%;
    right: 8%;;
    text-align:center;
    opacity: 0;
}

.parent:hover .calque2{
    opacity: 0;
    transform: scale(1.8)
}

.parent:hover .bg{
    opacity: 0.5;
}

.parent:hover h2{
    opacity: 1;
    transform: scale(1);
    font-weight: 900;
    font-size: 28px;
}
/*************************/
.section2{
    display: flex;
    flex-wrap: wrap;
}

.carreblue{
    flex:1 0 24.8vw;/* grossir retrecir largeur*/
    height: 24.8vw;
    position: relative;
    overflow: hidden;
    background-color: blue;
}
.carreblue p{
    text-align: justify center;
    padding: 15%; 
    line-height: 140%;
    font-weight: bold;
    color:white;
}

.carrered{
    flex:1 0 24.8vw;/* grossir retrecir largeur*/
    height: 24.8vw;
    position: relative;
    overflow: hidden;
    background-color: red;
}
.carrered p{
    text-align: justify center;
    padding: 15%; 
    line-height: 140%;
    font-weight: bold;
    color:white;
}

/*************************/
.section3 img{
    width: 100%;
}

.section3 p{
    color: #FFF;
    padding: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}

/*************************/
.section4{
    padding-bottom: 50px;
    background-color: black;
}

.Principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.secondaire{
    display: flex;
    flex-direction: column;
    width: 20%;
}

/*************************/
.section5 img{
    width: 100%;
}

/*************************/

.footer-general{
	background-color: black;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 100px 50px;
}

.footer-left p{
	color:blue;
	font-size: 18px;
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
}
.footer-left a{
	color:white;
	font-size: 18px;
    margin: 0;
    padding-right: 20px;
    text-transform: uppercase;
}


.footer-right{
	float: right;
	max-width: 180px;
}

.footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:black;
}





